<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="city1" placeholder="City 1">
        <input type="text" name="city2" placeholder="City 2">
        <button type="submit">Compare Weather</button>
    </form>


    <div class="comparison-container">
        {% if current_weather1 %}
        <div class="city-container">
            {% include "weather_application/city_weather.html" with current_weather=current_weather1
            daily_forecast=daily_forecast1 %}
        </div>
        {% endif %}
        {% if current_weather1 %}
        <div class="city-container">
            {% include "weather_application/city_weather.html" with current_weather=current_weather2
            daily_forecast=daily_forecast2 %}
        </div>
        {% endif %}
    </div>
</body>

</html>